.show {
  visibility: visible; }

/*
Re-setting the browser
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.header__header {
  text-align: center; }

.header__text--h1 {
  color: white;
  font-size: 10rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 37.5em) {
    .header__text--h1 {
      top: 30%; } }

.header__text--h4 {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 37.5em) {
    .header__text--h4 {
      top: 60%; } }

.body {
  font-size: 1.8rem; }
  .body__view {
    font-size: 2rem; }

select {
  text-decoration: none;
  font-size: 1.8rem;
  appearance: none;
  width: 20rem;
  font-family: "Lato", sans-serif;
  color: #777; }
  select-selected {
    border: 1px solid #55c57a; }

.bold {
  font-weight: bold;
  font-size: 2.5rem;
  color: #55c57a; }

.footer__exit {
  justify-content: right;
  text-align: right;
  position: relative; }

.footer__p {
  text-align: center; }

.header__buttons {
  text-align: center; }
  @media screen and (max-width: 37.5em) {
    .header__buttons {
      margin: -3rem; } }

.header__header {
  height: 75vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small-min.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /*
HOW TO CENTER AN ITEM:
top & left: 50%
*this is related to the parent element
transform: translate(-50%,-50%);
*/ }
  @media screen and (max-width: 56.25em) {
    .header__header {
      height: 60vh; } }
  @media screen and (max-width: 37.5em) {
    .header__header {
      height: 50vh; } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header__header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
      -moz-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
      height: 80vh; } }
  @media screen and (min-resolution: 192dpi) and (min-width: 56.25em), (-webkit-min-devide-pixel-ratio: 2) and (min-width: 56.25em), (min-width: 125em) {
    .header__header {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-min.jpg); } }
  .header__header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    text-align: center; }
  .header__header__logo {
    height: 5rem; }
  .header__header__text-box {
    text-align: center; }

@media screen and (max-width: 56.25em) {
  .header__text--h1 {
    font-size: 5rem; } }

@media screen and (max-width: 37.5em) {
  .header__text--h1 {
    font-size: 4rem;
    padding: 1rem; } }

@media screen and (max-width: 56.25em) {
  .header__text--h4 {
    font-size: 2rem; } }

@media screen and (max-width: 37.5em) {
  .header__text--h4 {
    font-size: 1.5rem;
    padding: 1rem; } }

.popup {
  visibility: hidden;
  padding: 8rem;
  position: fixed;
  width: 50%;
  z-index: 5000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  @media screen and (max-width: 75em) {
    .popup {
      padding: 4rem;
      width: 90%;
      height: 90vh; } }
  @media screen and (max-width: 56.25em) {
    .popup {
      padding: 3rem;
      width: 90%; } }
  @media screen and (max-width: 37.5em) {
    .popup {
      padding: 2rem;
      width: 100%;
      height: 100%; } }
  .popup__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .popup__selection {
    margin: 0 10rem 0 10rem; }
    @media screen and (max-width: 37.5em) {
      .popup__selection {
        margin: 0 2.5rem 0 5rem; } }
  .popup__view {
    border: 1px solid #7ed56f;
    padding: 5rem;
    margin: 0;
    position: relative; }
  .popup__result {
    margin: 5rem 10rem 5rem 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media screen and (max-width: 37.5em) {
      .popup__result {
        margin: 2rem 3rem 2rem 3rem;
        justify-content: left;
        text-align: left; } }
    .popup__result * {
      padding: 0 1rem 0 1rem; }
  .popup__text {
    align-items: baseline; }
    @media screen and (max-width: 37.5em) {
      .popup__text {
        justify-content: left;
        text-align: left; } }
    @media screen and (max-width: 37.5em) {
      .popup__text * {
        font-size: 1.4rem; } }
  .popup__logo-box {
    position: absolute;
    top: 10rem;
    right: 20rem;
    text-align: center; }
  .popup__logo {
    height: 10rem; }

select {
  margin: 10rem; }

table {
  display: flex;
  justify-content: center; }

tr {
  border: solid 0.5px #7ed56f; }

th {
  font-weight: bolder;
  text-transform: uppercase;
  color: #55c57a; }

td {
  padding: 1rem 2rem 1rem 1.5rem; }

body {
  margin: 0;
  padding: 0; }

.carCell {
  border: 1px solid #eee;
  padding: 0.5rem; }

/*
btn:link and btn:visited is to style the link to not be blue (before clicked)
or purple (after clicked)
*/
.btn {
  /*
    btn:hover & btn:active use the transform to give an "pressing" effect
    Note that the box-shadow property changes in the different states
    */
  /*
    ::after = sudo element linked to the .btn element.
    CSS creates a sudo element right AFTER or BEFORE the .btn
    This is used to create effects.
    */
  /*
    Animation-fill-mode: backwards
        set the style of the 0% of the animation before the animation start
    */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
    @media screen and (max-width: 56.25em) {
      .btn, .btn:link, .btn:visited {
        padding: 1rem 2rem; } }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /*
    When we hover the button, we will create some transfomations
    to the ::AFTER sudo element.
    */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff;
    margin: 5rem; }
    @media screen and (max-width: 56.25em) {
      .btn--green {
        margin: 2rem; } }
    @media screen and (max-width: 37.5em) {
      .btn--green {
        font-size: 1.2rem;
        margin: 1rem; } }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s; }
  .btn--animated {
    animation: moveInBottom 1.4s ease-out .75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.active {
  color: #ffb900; }
  .active:hover {
    background-color: #ffb900; }

.exit {
  position: absolute;
  top: 90%;
  right: 5%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #55c57a;
  color: white;
  border: none;
  text-decoration: none; }
  .exit:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .exit:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.add {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  background-color: #55c57a;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .add:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .add:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.sub {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  background-color: #ff7730;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .sub:hover {
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .sub:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.submit, .submit:link, .submit:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.4rem;
  transition: all .2s;
  position: absolute;
  bottom: 3rem;
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
