body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    
}

.header__header{
    text-align: center;
}

.header__text{
    display: flex;

    &--h1{
        color: white;
        font-size: 10rem;
    

        @include respond(phone){
        top: 30%;
    }
    }

    &--h4{
        color: white;
        font-size: 2rem;
    }
}

.body{
    font-size: 1.8rem;

    &__view{
        font-size: 2rem;
    }
}

select{
    text-decoration: none;
    font-size: 1.8rem;
    appearance: none;
    width: 20rem;
    font-family: "Lato", sans-serif;
    color: $color-grey-dark;

    &-selected{
        border: 1px solid $color-primary;
    }
}


.bold{
    font-weight: bold;
    font-size: 2.5rem;
    color: $color-primary;
}


.popup__text--h{
    @include respond(phone){
        font-size: 1rem;
    }
}