body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    
}

table {

    @include respond(tab-land) {
        font-size: 1.8rem;
    }

    @include respond(phone) {
        font-size: 1rem;
    }
}

th{
    font-weight: bolder;
    text-transform: uppercase;
    color: $color-primary;
}

select{
    text-decoration: none;
    font-size: 1.8rem;
    appearance: none;
    width: 20rem;
    font-family: "Lato", sans-serif;
    color: $color-grey-dark;

    &-selected{
        border: 1px solid $color-primary;
    }
}

.header__header{
    text-align: center;
}

.header__text {
    display: flex;

    &--h1 {
        color: white;
        font-size: 10rem;

        @include respond(tab-port) {
            font-size: 5rem;
        }


        @include respond(phone) {
            top: 30%;
            font-size: 4rem;
        }
    }

    &--h4 {
        color: white;
        font-size: 2rem;

        @include respond(tab-port){
            font-size: 2rem;
        }
    
        @include respond(phone){
            font-size: 1.5rem;
        }
    }
}

.body{
    font-size: 1.8rem;

    &__view{
        font-size: 2rem;
    }
}

.bold{
    font-weight: bold;
    font-size: 2.5rem;
    color: $color-primary;
}


.popup__text--h{
    @include respond(phone){
        font-size: 1rem;
    }
}

.popup {

    &__result {

        @include respond(phone) {

            font-size: 1rem;
        }
    }

    &__text {

        & * {
            @include respond(phone) {
                font-size: 1.4rem;
            }
        }
    }
}


.tasks--car {
    color: #c1c1c1;

    th {
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
    }
}