.footer{
    display: flex;
    flex-direction: column;

    &__exit{
        justify-content: right;
        text-align: right;
        position: relative;
    }

    &__p{
        text-align: center;
    }
}