.header__buttons{
    text-align: center;
    
    @include respond(phone){
        margin: -3rem;
    }
}

.header__header {
    height: 75vh;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero-small-min.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @include respond(tab-port){
        height: 60vh;
    }

    @include respond(phone){
        height: 50vh;
    }


    @supports   (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        height: 80vh;            
    }

    @media screen and   (min-resolution: 192dpi) and (min-width:56.25em),
                        (-webkit-min-devide-pixel-ratio:2) and (min-width:56.25em),
                        (min-width:125em){
        background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero-min.jpg);
    }

    // @include respond(phone){
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    // -moz-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    // }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        text-align: center;
    }

    &__logo {
        height: 5rem;
    }

/*
HOW TO CENTER AN ITEM:
top & left: 50%
*this is related to the parent element
transform: translate(-50%,-50%);
*/

    &__text-box{
    
        text-align: center;
    }

}

.header__text--h1{


    @include respond(tab-port){
        font-size: 5rem;
    }

    @include respond(phone){
        font-size: 4rem;
        padding: 1rem;
    }
}

.header__text--h4{


    @include respond(tab-port){
        font-size: 2rem;
    }

    @include respond(phone){
        font-size: 1.5rem;
        padding: 1rem;
    }
}